<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Odin Drive</title>
</head>

<body>
  <header>
    <h1>Odin Drive</h1>
    <ul>
      <% if (locals.currentUser) {%>
        <% folders.forEach(folder=> { %>
          <a href="/open-folder/<%= folder.name%>">

            <li>
              <%= folder.name %>
            </li>
          </a>

          <% })%>
            <% } %>
    </ul>
  </header>
  <main>
    <%- include("partials/errors.ejs") %>
      <% if (locals.currentUser) {%>
        <h1>
          Welcome Back <%= currentUser.email %>
        </h1>
        <a href="/create-folder">Create Folder</a>
        <a href="/logout">Logout</a>

        <% } else { %>
          <h1>Login</h1>
          <form action="/login" method="POST">

            <div>
              <label for="email">Email: </label>
              <input type="email" name="email" id="email">
            </div>
            <div>
              <label for="password">Password: </label>
              <input type="password" name="password" id="password">

            </div>

            <button type="submit">Login</button>
          </form>
          <a href="/signup">Sign Up</a>
          <%}%>
  </main>
  <footer>
    <h3>Copyright 2025 DDJCS50</h3>
  </footer>
</body>

</html>